@page "/delete-user"

@inject HttpClient Http
@inject IUserServices ApiService

@using System.Net.Http.Json
@using Shared_Layer.ApiServices
@using Shared_Layer.DTO_s.User



<h3>DeleteUser</h3>

<EditForm Model="model" OnValidSubmit="SubmitDelete">
    <DataAnnotationsValidator/>
    <ValidationSummary />

    <div>
        <label for="userId">User ID:</label>
        <InputText id="userId" class="form-control" @bind-Value="model.UserId"></InputText>
        <button type="submit">Delete User</button>
    </div>

    
</EditForm>

@if (!string.IsNullOrEmpty(message))
{
    <p>@message</p>
}




@code {
    private UserIdDTO model = new();
    private string? errorMessage;
    private string? successMessage;
    private bool softDelete = false;
    private string message;


    private async Task SubmitDelete()
    {
        softDelete = true;
        errorMessage = null;

        try
        {
            var response = await ApiService.DeleteUserByIdAsync(model.UserId);

            if (response.IsSuccessStatusCode)
            {
                successMessage = "Successfully soft delete user!";
                model = new();
            }
            else
            {
                errorMessage = "soft delete not successfull!";
            }
        }
        catch(Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}