@page "/logout"
@using Blazored.LocalStorage
@using Domain_Layer.CommandOperationResult
@using Domain_Layer.Models.User
@using Microsoft.AspNetCore.Components.Authorization
@using Shared_Layer.DTO_s.User
@using Shared_Layer.ApiServices;
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject HttpClient Http
@inject IUserServices ApiService;
@inject NavigationManager Navigation;
@inject IAuthenticationService AuthenticationService

<h3>Logout</h3>

@code {

    
    
}